*{
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color:#f6f8fd;
    --secondary-color:#dc3545;
    --text-color:#231942;
    --navbar-color:#ffffff;
    --navbar-text-color:#000000;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Navbar style
.navbar {
    position: fixed !important;
    padding: 15px 0px 15px 0px !important;
    width: 100%;
    transition: all 0.2s ease;
    z-index: 9999;
    & .nav-link { 
        & .active {
            background-color: var(--secondary-color);
            color: var(--primary-color);
        }
        & .active:hover {
            color: var(--navbar-color);
        }
        & a {
            padding: 5px 10px 5px 10px;
            font-weight: 500;
            text-decoration: none;
            color: var(--navbar-text-color);
        }
        & a:hover {            
            color: var(--secondary-color);  
        }
    }
}

.navbar.color-active {
    background-color: var(--navbar-color);
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid #dc354635;

}

/* header style */
header {
    background: #c6ffdd;
    background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd);
    background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd)
} */

/* Authentication style */
html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.auth-layout{
    margin:auto
}

.root-layout{    
    width: 100%;
    & .content{
        display: block;        
        background-color: #dc3545;
        & .metamask-button-wrapper {
            float: right;
        }
    }
}
